
link(type="text/css", rel="stylesheet", href="/js/leaflet/leaflet.css")
script(src="/js/leaflet/leaflet.js")
script(src="/js/ui.js")

script.
    var map = new L.Map('map', {center: new L.LatLng(43.6024, 3.87414), zoom: 14});
    var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

    var marker = new L.marker([43.6024, 3.87414], {draggable: true}).addTo(map);
    marker.on('dragend', function(evt) {
        var latlng = this.getLatLng();
            oops.checkPlace(latlng.lat, latlng.lng);
    });
    map.addLayer(osm);
    var popup = L.popup();
    
div(data-role="header", data-theme="f", id="header")
    #menubar
        #home_button
           a(class="button", href="#splashmenu") Home
        #menu

div(data-role="content")
    div(id="splashscreen", class="screen")
        #logo
        #progress

    div(id="splashmenu", class="screen")
        a(class="bigbutton", href="#send_data") Envoyer des données
        a(class="bigbutton", href="#map") Radar à PV
    div(id="map", class="screen")

        
    div(id="graphz", class="screen")
        #graph1
        #graph2
        #graph3
        #graph4
    
    div(id="send-data", class="screen")
      form(method="POST", action="http://pastafarail.me/foo/bar")
        fieldset
          legend
            ol
              li
                label(for="PVdate") Date du PV
                input(name="PVdate", type="date", placeholder="Date du PV")
              li
                label(for="PVtime") Heure du PV
                input(name="PVtime", type="time", placeholder="Heure du PV")
              input(name="PVgeo", type="hidden", value="")
              input(type="submit", value="Envoyer !")
    
    div(id="overlaymsg")
        #closemsg
        #msg
