{
	"server": {
		"port" : 3000
	},
	"log" : {
		"level": "ALL"
	},
	"secret": "sdqreiwrewqowqurqiEOUIrepw(*$(*@899832#&$",
	"tmpdir": "tmp",
	"staticdir": "public",
	"database": {
		"database": "oops",
		"protocol": "pg",
		"host": "localhost",
		"port": 5432,
		"user": "oops",
		"password": "YOUR_PASS",
		"charset": "utf8"
	}
}
