/* General classes format */

/* Map format */
#content {
}
#map { 
    height: 300px; 
    width: 100%;
}

.popupTitle {
	font-weight: bold;
	margin-bottom: 3px;
	font-family: xkcd;
	width: 280px;
}

@font-face {
    font-family: "xkcd";
    src: url('../fonts/Humor-Sans.ttf');
}

#graphz {
	width: 100%;
}

/* Overlay message box */

#overlaymsg {
	z-index: 200;
}
