@import "compass/utilities/general/clearfix";

.clearfix {
	@include legacy-pie-clearfix;
}

#map { 
    height: 300px; 
    width: 100%;
}

.popupTitle {
	font-weight: bold;
	margin-bottom: 3px;
	font-family: xkcd;
	width: 280px;
}

@font-face {
    font-family: "xkcd";
    src: url('../fonts/Humor-Sans.ttf');
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "MontBold";
    src: url('../fonts/Montserrat-Bold.ttf');
}

.track_prune {
	width: 447px;
	margin: 30px auto 60px auto;
	padding-left: 90px;
}

.scan_prune {
	width: 292px;
	margin: 0 auto;
}

.ui-content {
	padding: 0px!important;
}

#splash {
	width: 100%;
	background: #e1e1e1;
	margin:  0 auto;
	padding-top: 20px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	text-shadow: none;
	.title {
		font-family: Mont;
		padding: 15px 0;
		font-size: 24px;
		color: #000000;
		width: 100%;
		text-align: center;
		word-spacing: 10px;
	}
}

#splashpage .caption {
	padding: 20px 0;
	font-family: MontBold;
	color: #757575;
	width: 100%;
	text-align: center;
	text-shadow: none;
	font-size: 20px;
}

#splashimg {
	width: 362px;
	margin: 0 auto;
}

.popupPrices {
	width: 175px;
	height: 230px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	color: #000;
	font-family: Mont;
}

.popupProba {
	width: 230px;
	height: 230px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	background: #0c284d;
	color: #fff;
	font-family: Mont;
	margin-left: 15px;
}

.popupNoInfo {
	font-family: Mont;
	text-shadow: none;
	color: #000;
}

.popupTarifTitle {
	margin: 7px 0px 4px 9px;
	text-shadow: none;	
	font-size: 9px;
	font-family: Mont;
}

.popupNoPrice {
	margin: 7px 0px 4px 9px;
	text-shadow: none;	
	font-size: 30px;
	font-family: Mont;
}

.popupPricesList {
	margin: 0px 0px 0px 8px;
	text-shadow: none;	
}

.popupPriceLine {
	padding: 2px 0 2px 0;
	font-size: 14px;
}

.jaune {
	background: #e9e100;
}

.orange {
	background: #ff6600;
}

.vert {
	background: #3dbb25;
}

.gris {
	background: #bbbbbb;
}